.btn {
    border: 0;
    padding: 8px 12px;
    border-radius: 3px;
    
}

.btnPrimary {
    background-color: #0d6efd;
    color: white;
}

.btnDanger {
    background-color: red;
    color: white;
}